cafile = ~/zscaler-curl-bundle.pem
registry = https://artifactory.platform.manulife.io/artifactory/api/npm/mfc-dig-npm/
npm_config_node_gyp = https://artifactory.platform.manulife.io/artifactory/mfc-dig-npm/node-gyp
